<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bed">
            <h2><span>Bed</span> {{ bed.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Bed Id</span></dt>
                <dd>
                    <span>{{ bed.bedId }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ bed.type }}</span>
                </dd>
                <dt><span>Capacity</span></dt>
                <dd>
                    <span>{{ bed.capacity }}</span>
                </dd>
                <dt><span>Occupied</span></dt>
                <dd>
                    <span>{{ bed.occupied }}</span>
                </dd>
                <dt><span>Blocked</span></dt>
                <dd>
                    <span>{{ bed.blocked }}</span>
                </dd>
                <dt><span>Vacant</span></dt>
                <dd>
                    <span>{{ bed.vacant }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ bed.createdOn }}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{ bed.updatedOn }}</span>
                </dd>
                <dt><span>Updated By Msg Id</span></dt>
                <dd>
                    <span>{{ bed.updatedByMsgId }}</span>
                </dd>
                <dt><span>Hospital</span></dt>
                <dd>
                    <div *ngIf="bed.hospitalId">
                        <a [routerLink]="['/hospital', bed.hospitalId, 'view']">{{ bed.hospitalId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bed', bed.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
