.body-div {}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #F5F5FA;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(0, 0, 0, 0.87)
}

.cs-header {
    font: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 29.13px;
    font-weight: 600;
}

.cs-header>img {
    height: 64px;
}

.cs-primary {
    color: rgba(20, 47, 222, 1) !important;
}

.cs-navbar {
    background-color: #FFFFFF !important;
    padding: 0px;
}

.cs-navbar-label {
    margin: 0px
}

.cs-nav-bar-form {
    flex-direction: row;
    width: 100%;
}

.cs-nav-bar-select {
    width: 35%;
    margin: 1%;
}

.cs-nav-bar-form-elements {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
}

.cs-card-body {
    margin: 2% 10% 0 10%;
}

.cs-card-title {
    font-weight: 700;
    margin: 2% 0 2% 0;
}

.cs-card1-header {

    height: 30px;
    left: 150px;
    top: 257px;

    /* Title / M */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    /* text-primary */

    color: rgba(0, 0, 0, 0.87);

}

.cs-card1-helper-text {

    width: 100%;
    height: 16px;
    left: 150px;
    top: 299px;

    /* Body / M */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* text-primary */

    color: rgba(0, 0, 0, 0.87);
}

.cs-card1-form {
    margin-top: 5px;
}

/* @media (max-width:320px)  { 
    
    .cs-nav-bar-form-elements{
        flex-direction: column-reverse;
    }
    .cs-nav-bar-select{
        width: 100%;
    }
}
@media (max-width:480px)  { 
    
    .cs-nav-bar-form-elements{
        flex-direction: column-reverse;
    }
    .cs-nav-bar-select{
        width: 100%;
    }

}
@media (max-width:600px)  { 
    
    .cs-nav-bar-form-elements{
        flex-direction: column-reverse;
    }
    .cs-nav-bar-select{
        width: 100%;
    }

} */

.cs-card-sub-title {
    float: right;
    font-size: small;
    line-height: 41px;
    display: inline;
}



.card-header:first-child {
    background-color: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgba(20, 47, 222, 1);
    background-color: #F5F5FA;
    border: none;
    border-bottom: 2px solid rgba(20, 47, 222, 1);
}

.nav-link {
    color: #000000;
}

.card-header {
    border-bottom: none;
    background: none !important;
}

.card {
    border: none;
    background: none !important;
}

.cs-white-cards {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 24px;
}

.cs-grey-sub-cards {
    /* Auto Layout */
    height: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 12em;
    background: #F0F0F0;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

.cs-grey-sub-cards:hover {
    background-color: #D8D8D8;
}

.jk-search-result {
    cursor: auto;
}

.jk-search-result:hover {
    background: #F0F0F0;
}

.card-body {
    padding: 0%;
}

.jk-no-padding-left {
    padding-left: 0%;
}

.jk-margin-top-s {
    margin-top: 1%;
}

.cs-primary-button {
    background-color: rgba(20, 47, 222, 1);
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 24%);
}

.cs-primary-button:hover {
    background-color: rgba(46, 64, 250, 1);
    color: #FFFFFF;
    font-weight: 600;
}

.alert-primary {
    color: #FFFFFF;
    background-color: #2196F3;
}

.row {
    margin: 0px;
}

.jk-btn-back {
    color: black;
    margin: 5px 0px 0px 0px;
    text-decoration: none;
    cursor: pointer;
}





.table {
    border: 1px solid lightgrey;
}

.table>thead {
    background-color: #F8DA72;
}




.cs-table-success {
    color: #4CAF50;
}


.jk-search-result {
    display: none;
    margin-top: 20px;
}

.jk-search-response-holder {
    display: flex;
}

.jk-search-response-label {
    margin-left: 2%;
    width: 30%;
    text-align: left;
    line-height: 2em;
    margin-top: 1%;
}

.jk-search-response-value {
    width: 70%;
    text-align: left;
    line-height: 2em;
    margin-top: 1%;
    align-self: center;
}

.jk-search-result {
    width: 80%;
}

/* 
.navbar-nav {
    flex-direction: row;

  }
  
  .navbar-nav.dropdown-menu {
    position: absolute;
  }



  .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-collapse {
    display: flex !important; 
    flex-basis: auto;
  }

  .navbar-toggler {
    display: none;
  } */


.jk-alert-danger {
    background-color: rgba(244, 67, 54, 1);
}

.jk-alert-info {
    background-color: #2196F3;
}

.jk-info-icon {
    height: 16px;

}

.jk-alert-danger-text {
    color: rgba(244, 67, 54, 1);
}

.jk-search-helper-text {
    display: block;
    font-size: 1em;
    line-height: 1.6em;
}


.jk-info-icon>svg {
    height: 20px;
    fill: white;
}

.jk-refresh-icon {
    height: 16px;

    color: rgba(20, 47, 222, 1);
    cursor: pointer;
}

.jk-refresh-icon>svg {
    height: 20px;
    fill: rgba(20, 47, 222, 1);

}

.jk-refresh-text {
    cursor: pointer;
}

.jk-refresh-text:hover {
    color: lightblue;
}

.jk-halfcard {
    width: 50%;
    padding: 10px;
    margin: 5px;
}




.jk-bed-count-cards {
    /* Auto Layout */
    justify-content: center;
    height: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 30%;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 24%);
}

.jk-bed-count-cards:hover {}

.jk-bed-count-total {
    background-color: #FEEFDA;
}

.jk-bed-count-occupied {
    background-color: #FFDEDC;

}

.jk-bed-count-vacant {
    background-color: #DDFFDE;
}

.jk-bed-count-total:hover {
    background-color: #EDDECA;
}

.jk-bed-count-occupied:hover {
    background-color: #EECDCB;

}

.jk-bed-count-vacant:hover {
    background-color: #CCEECD;
}

.jk-bed-available-row {
    display: flex;
    flex-direction: row;
}

.jk-bed-count-text-total {
    color: #FF9800;

}

.jk-bed-count-text-occupied {

    color: rgba(244, 67, 54, 1);


}

.jk-bed-count-text-vacant {

    color: #4CAF50;

}

.jk-bed-card-holder {
    display: flex;
}

.jk-text-align-center {
    text-align: center;
}

.jk-text-align-right {
    text-align: right;
}

.jk-bed-table-form {
    margin: 0px;
}

.jk-no-margin {
    margin: 0px;
}

.jk-bed-table-padding {
    padding: 16px 24px 24px 24px;
}

.jk-bed-current-status-success {
    font-size: 14px;
    line-height: 16.41px;
    color: #4CAF50;
}

.jk-bed-current-status-error {
    font-size: 14px;
    line-height: 16.41px;
    color: rgba(244, 67, 54, 1);

}

.jk-table-paginators {
    float: right;
}

.jk-font-bold {
    font-weight: 600;
}

.jk-dashboard-form {
    margin-top: 15px;
}

.jk-font-color-grey {
    color: grey;
}

.alert {
    border-radius: .76rem;
}

.nav .nav-tabs .card-header-tabs .text-center {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card-header-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    ;
}



#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #FFCD37;
    /* Set a background color */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.jk-timeperiod-element {
    display: inline-block;
}

.jk-nav-bar {
    margin-left: 10%;
}

.jk-search-result {
    height: fit-content;
}

.jk-mobile-display-none {
    display: inline-block;
}

.jk-s-no {
    /* width: 1.5em; */
    display: none;
}

.jk-s-no-ans {}

.jk-s-no-que {
    margin-left: 1.8em;
    display: list-item;
}

ol.jk-order-list {
    list-style-type: lower-alpha;
}

ol.jk-order-list2 {
    list-style-type: upper-roman;
}

@media (max-width:991px) {


    .jk-timeperiod-element {
        display: block;
    }


    .jk-bed-count-cards {
        height: 7em;
    }

    .jk-table-paginators {
        white-space: nowrap;
    }

    .cs-card-sub-title {
        display: none;
    }

    .jk-btn-back {
        /* margin-left: 1em; */
    }

    .table {
        width: 100%;
        overflow: auto;
        display: block;
    }

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .cs-nav-bar-form-elements {
        flex-direction: column-reverse;
    }

    .cs-nav-bar-select {
        width: 100%;
    }

    .cs-card-body {
        margin: 0%;
    }

    .cs-card1-form {
        margin-top: 40px;
    }

    .cs-card-title {
        /* margin-left: 20px; */
    }

    .cs-header {
        font-size: 20px;
        line-height: 26.13px;
        font-weight: 600;
    }

    .cs-header>img {
        height: 48px;
    }

    .jk-halfcard {
        width: 94%;
        margin: 3%;
    }

    .jk-bed-card-holder {
        flex-direction: column;
    }

    .cs-white-cards {
        /* margin-left: 10px;
        margin-right: 10px;
        width: 95%; */
    }

    .cs-grey-sub-cards {
        width: 11em;
    }

    .cs-card-body {
        margin: 3%;
    }

    .cs-card-title-bed-available {
        margin-left: 10px
    }

    .jk-nav-bar {
        /* flex-wrap: nowrap!important; */
        margin-left: 3%;
    }

    .jk-search-result {
        width: 97%;
        height: fit-content;
    }

    .jk-bed-table-form {
        margin-top: 0px;
    }

}

@media (max-width:400px) {
    .jk-nav-bar {
        /* flex-wrap: nowrap!important; */
        margin-left: 0%;
    }

    .jk-nav-bar>a {
        margin-right: 0%;
    }

    .jk-nav-bar>button {
        padding: .20rem .30rem;
    }

    .cs-grey-sub-cards {
        width: 9em;
    }

    .jk-bed-count-cards {
        width: 29%;
    }

    .jk-search-result {
        width: 97%;
        height: fit-content;
        align-self: center;
    }

    .jk-mobile-display-none {
        display: none;
    }

}

@media screen and (max-width: 995px) {
    #empTable th {
        width: 100% !important;
    }
}


div#empTable_filter {
    padding-bottom: 10px;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
    display: none;
}

table.dataTable thead .sorting_desc::after {
    display: none;
}

table.dataTable thead .sorting {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_desc {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead {
    line-height: 2em;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}

table.dataTable tbody {
    line-height: 2em;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}

.table {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

table.dataTable thead th,
table.dataTable thead td {
    background: none;
    border: none;
}

.table>:not(caption)>*>* {
    box-shadow: none;
}

.table.dataTable.no-footer {
    border: 1px solid rgba(0, 0, 0, 0.12);
}