<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hospitalAudit">
            <h2><span>Hospital Audit</span> {{ hospitalAudit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Hospital Id</span></dt>
                <dd>
                    <span>{{ hospitalAudit.hospitalId }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ hospitalAudit.type }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ hospitalAudit.name }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ hospitalAudit.address }}</span>
                </dd>
                <dt><span>Pincode</span></dt>
                <dd>
                    <span>{{ hospitalAudit.pincode }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ hospitalAudit.phone }}</span>
                </dd>
                <dt><span>Zone</span></dt>
                <dd>
                    <span>{{ hospitalAudit.zone }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ hospitalAudit.status }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ hospitalAudit.createdOn }}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{ hospitalAudit.updatedOn }}</span>
                </dd>
                <dt><span>Updated By Msg Id</span></dt>
                <dd>
                    <span>{{ hospitalAudit.updatedByMsgId }}</span>
                </dd>
                <dt><span>Audited On</span></dt>
                <dd>
                    <span>{{ hospitalAudit.auditedOn }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hospital-audit', hospitalAudit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
