<div>
    <h2 id="page-heading">
        <span>Hospital Audits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hospital-audit" [routerLink]="['/hospital-audit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Hospital Audit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="hospitalAudits?.length === 0">
        <span>No hospitalAudits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="hospitalAudits && hospitalAudits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Hospital Id</span></th>
                    <th scope="col" ><span>Type</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Address</span></th>
                    <th scope="col" ><span>Pincode</span></th>
                    <th scope="col" ><span>Phone</span></th>
                    <th scope="col" ><span>Zone</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col" ><span>Created On</span></th>
                    <th scope="col" ><span>Updated On</span></th>
                    <th scope="col" ><span>Updated By Msg Id</span></th>
                    <th scope="col" ><span>Audited On</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hospitalAudit of hospitalAudits ;trackBy: trackId">
                    <td><a [routerLink]="['/hospital-audit', hospitalAudit.id, 'view']">{{ hospitalAudit.id }}</a></td>
                    <td>{{ hospitalAudit.hospitalId }}</td>
                    <td>{{ hospitalAudit.type }}</td>
                    <td>{{ hospitalAudit.name }}</td>
                    <td>{{ hospitalAudit.address }}</td>
                    <td>{{ hospitalAudit.pincode }}</td>
                    <td>{{ hospitalAudit.phone }}</td>
                    <td>{{ hospitalAudit.zone }}</td>
                    <td>{{ hospitalAudit.status }}</td>
                    <td>{{ hospitalAudit.createdOn | date:'medium' }}</td>
                    <td>{{ hospitalAudit.updatedOn | date:'medium' }}</td>
                    <td>{{ hospitalAudit.updatedByMsgId }}</td>
                    <td>{{ hospitalAudit.auditedOn | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/hospital-audit', hospitalAudit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/hospital-audit', hospitalAudit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(hospitalAudit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
