<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hospital">
            <h2><span>Hospital</span> {{ hospital.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Hospital Id</span></dt>
                <dd>
                    <span>{{ hospital.hospitalId }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ hospital.type }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ hospital.name }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ hospital.address }}</span>
                </dd>
                <dt><span>Pincode</span></dt>
                <dd>
                    <span>{{ hospital.pincode }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ hospital.phone }}</span>
                </dd>
                <dt><span>Zone</span></dt>
                <dd>
                    <span>{{ hospital.zone }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ hospital.status }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ hospital.createdOn }}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{ hospital.updatedOn }}</span>
                </dd>
                <dt><span>Updated By Msg Id</span></dt>
                <dd>
                    <span>{{ hospital.updatedByMsgId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hospital', hospital.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
