<div>
    <h2 id="page-heading">
        <span>Patient Audits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-patient-audit" [routerLink]="['/patient-audit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Patient Audit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="patientAudits?.length === 0">
        <span>No patientAudits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="patientAudits && patientAudits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Patient Id</span></th>
                    <th scope="col" ><span>Phone</span></th>
                    <th scope="col" ><span>Srf Number</span></th>
                    <th scope="col" ><span>Bucode</span></th>
                    <th scope="col" ><span>Category</span></th>
                    <th scope="col" ><span>Zone</span></th>
                    <th scope="col" ><span>Queue Type</span></th>
                    <th scope="col" ><span>Queue Name</span></th>
                    <th scope="col" ><span>Time Added To Queue</span></th>
                    <th scope="col" ><span>Created On</span></th>
                    <th scope="col" ><span>Updated On</span></th>
                    <th scope="col" ><span>Updated By Msg Id</span></th>
                    <th scope="col" ><span>Audited On</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patientAudit of patientAudits ;trackBy: trackId">
                    <td><a [routerLink]="['/patient-audit', patientAudit.id, 'view']">{{ patientAudit.id }}</a></td>
                    <td>{{ patientAudit.patientId }}</td>
                    <td>{{ patientAudit.phone }}</td>
                    <td>{{ patientAudit.srfNumber }}</td>
                    <td>{{ patientAudit.bucode }}</td>
                    <td>{{ patientAudit.category }}</td>
                    <td>{{ patientAudit.zone }}</td>
                    <td>{{ patientAudit.queueType }}</td>
                    <td>{{ patientAudit.queueName }}</td>
                    <td>{{ patientAudit.timeAddedToQueue | date:'medium' }}</td>
                    <td>{{ patientAudit.createdOn | date:'medium' }}</td>
                    <td>{{ patientAudit.updatedOn | date:'medium' }}</td>
                    <td>{{ patientAudit.updatedByMsgId }}</td>
                    <td>{{ patientAudit.auditedOn | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/patient-audit', patientAudit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/patient-audit', patientAudit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(patientAudit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
